body {
  background-color: #1F2937;
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 70px 10%;
  gap: 40px;
}


.introduction div {
  flex: 1;
}

.introduction-image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  background-color: grey;
}


.main-title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.main-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border-radius: 10px;
}

.main-sign-up {
  font-weight: bold;
  padding: 5px 20px;
  color: #F9FAF8;
  font-size: 18px;
  border: 1px solid #3882F6;
  margin-top: 12px;
}

.random-info {
  background-color: white;
  padding: 40px 0 100px 0;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-bottom: 40px;
}

.info-images {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 150px;
  color: rgb(70, 75, 80);
}

.info-title, .info-box {
  text-align: center;
}

.illustration {
  width: inherit;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.testimonial-section {
  background-color: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  margin: 10% 17% 0 17%;
}

.author {
  display: flex;
  justify-content: right;
  margin: 0 17% 10% 17%;
  font-weight: bolder;
  font-size: 24px;
}

.call-to-action {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-box {
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-radius: 10px;
  width: 90%;
  padding: 4% 15%;
  margin: 7% 2%;
}

.cta-text {
  color: white;
}

.cta-title {
  font-size: 20px;
  font-weight: bold;
}

.cta-subtext, .cta-sign-up {
  font-size: 18px;
}

.cta-sign-up {
  color: #F9FAF8;
  font-weight: bold;
  border: 2px solid #F9FAF8;
  padding: 8px 42px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  padding: 30px 0 30px 0;
}